<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>X_Framework_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65FA120F1C322BDF0075AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65FA12271C322BDF0075AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65FA12321C322BDF0075AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
